{% extends 'base/base.html' %}

{% block title %}Category District{% endblock %}
{% load static %}
{% block content %}
<main id="container">
    <h2 id="place_thema_name" style="display: flex;" >{{ place_thema_name }}</h2> 
    <section id="map-container">
        <div id="map"></div>

        <!-- 색상바를 지도 옆에 추가 -->
        <div id="gradient-bar">
            <div id="gradient-bar-labels">
                <span>High</span>
                <span>Low</span>
            </div>
        </div>
    </section>
    <section id="triangle"></section>
    <section id="district-info">

        
        <h1 id="district-name" style="display: flex;">
            {% if lang == 'kor' %}
                {{ district.kor_district_name }}
            {% elif lang == 'eng' %}
                {{ district.eng_district_name }}
            {% endif %}
        </h1>        
        
        <!-- 미 클릭 정보 컨테이너 -->
        <div id="none_select-info-container" style="display: flex;">
            <img src="{% static 'img/spot.png' %}" alt="spot">
            {% if lang == 'kor' %}
                <p>마우스를 클릭하여</p>
                <p>여행하기 좋은</p>
                <p class="highlight">SeoulPOT을</p>
                <p>찾아보세요</p>
            {% else %}
                <p>Click to explore</p>
                <p>great travel spots</p>
                <p>with</p>
                <p class="highlight">SeoulPOT</p>
            {% endif %}
        </div>
        
        <!-- place_thema_name을 헤더로 표시 -->
        <!-- 구 장소 컨테이너 -->
        <div id="district-container" style="display: none;">
            <div id="district-category"  >
                {% for category in categories %}
                <button id="category" data-value="{{category.code}}" onclick="fetchData('{{category.code}}')">
                    {% if lang == 'kor' %}
                        {{ category.kor_code_name }}
                    {% elif lang == 'eng' %}
                        {{ category.eng_code_name }}
                    {% endif %}
                </button>
                {% endfor %}
            </div>
            <div id="district-space">
                <div id="space-container"></div>
                <div id="space-container"></div>
                <div id="space-container"></div>
                <div id="space-container"></div>
            </div>
            <div id="more-button">
                <button class="readmore-btn" onclick="MoveToPlacePage()">
                    <span class="text">More Place</span>
                    <span class="book-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126 75" class="book">
                            <rect stroke-width="3" stroke="#fff" rx="7.5" height="70" width="121" y="2.5" x="2.5"></rect>
                            <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
                            <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M25 20H50"></path>
                            <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M101 20H76"></path>
                            <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M16 30L50 30"></path>
                            <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M110 30L76 30"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 65 75" class="book-page">
                            <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M40 20H15"></path>
                            <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M49 30L15 30"></path>
                            <path stroke-width="3" stroke="#fff" d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <!-- Comming Soon 컨테이너 -->
        <div id="district-comming-soon">
            <img id="district-comming-soon-img" src="{% static 'img/spot.png' %}" alt="commingsoon">
            <h1>Comming</h1>
            <h1>Soon</h1>
        </div>
    </section>
</main>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category/category_district.css' %}">
<style>


</style>
{% endblock %}

{% block extra_js %}
<script>
    window.geojsonUrl = "{% static 'data/seoul-districts.geojson' %}";
    window.district_temp_place = "{% static 'data/district_temp_place_data.csv' %}";
</script>
<!-- JSON 데이터를 안전하게 포함 -->
<script>
    const districts_list = {{ districts|safe }};
    console.log("Districts list:", districts_list);
    const categories_list = {{ categories|safe }};
    const fallbackImage = "{% static 'img/default.png' %}";
    const staticPath = "{% static 'data/logo' %}";
    const place_tag_cd = '{{ place_tag_cd }}';
    const place_page_url = "{% url 'de-food-place' lang %}";
    const place_thema_cd = '{{ place_thema_cd }}';
    const selected_lang  = '{{lang}}';
</script>
<script src="{% static 'js/category/category_district.js' %}"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}
