{% extends 'base/base.html' %}

{% block title %}익명 게시판{% endblock %}
{% load static %}
{% block content %}
    
    <div class="container">
        <h1>익명 게시판</h1>
        <a href="{% url 'board_create' %}">새 게시물 작성</a>
        <ul>
            {% for request in requests %}
            <div>
                <p>{{ request.request_text }}</p>
                <p>{{ request.request_time }}</p>
                <p>{{ request.request_ip }}</p>
                <a href="{% url 'board_delete' request.request_id %}">삭제</a> <!-- 삭제 링크 추가 -->
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block extra_css %}
<!-- 이 페이지에서만 사용하는 CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/request/style.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- 이 페이지에서만 사용하는 JS -->
{% endblock %}
