{% extends 'base/base.html' %}

{% block title %}새 게시물 작성{% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>
            {% if lang == 'kor' %}
                건의사항 접수
            {% else %}
                Submit Your Suggestions
            {% endif %}
        </h1>
        <form id="suggestionForm" method="post" action="{% url 'board_create' lang %}">
            {% csrf_token %}
            <label for="suggestion">
                {% if lang == 'kor' %}
                    건의사항:
                {% else %}
                    Your Suggestions:
                {% endif %}
            </label>
            <textarea  id="suggestion" name="request_text" rows="6" cols="40" required></textarea><br>
            <button type="submit">
                {% if lang == 'kor' %}
                    제출
                {% else %}
                    Submit
                {% endif %}
            </button>
        </form>
        <!-- <a href="{% url 'board_list' lang %}">뒤로 가기</a> -->
    </div>
{% endblock %}    
{% block extra_css %}
<!-- 이 페이지에서만 사용하는 CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/request/wright.css' %}">
{% endblock %}

{% block extra_js %}
<!-- 이 페이지에서만 사용하는 JS -->
{% endblock %}