/* font import */
/* @font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'PTBandocheB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    background-color: #ffffff;
    /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */
    border-radius: 15px;
    overflow: hidden;
    width: 90%;
    height: 85%;
    margin-top: 70px;
}
.left-panel {
    width: 50%;
    min-width: 300px;
    background-color: #F6F5FE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-right: 1px solid #ddd; */
    
}
.left-panel h2 {
    text-align: center;
    color: #6a4d9a;
    margin-bottom: 20px;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
}

.categories button {
    flex: 1 1 22%;
    min-width: 90px;
    max-width: 200px;
    padding: 10px 20px;
    height: auto;
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #fff;
    color: #9077CB;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.4s ease; 
    overflow: hidden;
    white-space: nowrap;
}


.categories button:hover {
    background-color: rgba(144, 119, 203, 0.5);
    color: #fff;
}

.categories button.active {
    background-color: #6a4d9a;
    color: #fff;
}

.card-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 80%;
    margin: 15px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


button.card:hover {
    cursor: pointer;
    background-color: #f6f4f4;
}

.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #9077CB;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 1%;
    width: 100%;
    max-width: calc((200px + 20px) * 4 - 40px); 
    height: 80px;
    text-align: left;
    border: 0px solid #300034;
}

.card img {
    height: 100%; 
    aspect-ratio: 1 / 1;
    max-height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.card-content{
    margin : 0 10px;
}

.card-list .details {
    height : 100%;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.card-list .details p {
    margin: 0 0;
    font-size: 0.9em;
    color :#b6a4de;
}


.card-content {
    flex-grow: 1;
}

.card-content h3 {
    margin: 2px;
    font-size: 1.3em;
}

.card-footer {
    margin: 2px;
    margin: 0 0;
    font-size: 0.9em;
    color :#b6a4de;
}

.card-category {
    margin: 2px;
    font-size: 0.9em;
    color :#b6a4de;
}

.details-button {
    text-align: center;
    margin-top: 20px;
}
.details-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6a4d9a;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.right-panel {
    width: 50%;
    min-width: 300px;
    background-color: #F6F5FE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.right-panel h1 {
    /* 초기 default일 때 안보이도록 조절 필요 */
    /* display: none !important; */
    margin: 5px 0px;
    height: 5vh;
    font-size: 5vh;
    color: #9077CB;
    text-align: center;
    justify-content: center;
}

#map {
    width : 100%;
    height: 100%;
    border-radius: 30px;
}

#place-container {
    background: #D4CBF8;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    overflow-y: hidden;

}

#page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 10px;
    height: auto;
    min-height: 6vh;
}

.page-button {
    font-size: 25px;
    color: #ffffff;
    background-color: #D4CBF8;
    border: 0px;
}
.page-button.active {
    font-size: 25px;
    color: #7a59ae;
    font-weight: 100;
    /* background-color: #6a4d9a; */
    border: 0px;
}

.page-button:hover {
    color: #6a4d9a;
    transition: color 0.4s ease;
    
}

.card_page_list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 8px;
    height: 5vh;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .categories button {
        flex: 1 1 45%; 
    }

    #card-list {
        max-width: calc((100px + 20px) * 4 - 40px); 
    }
}
